SECRET_KEY=replace_with_secret_key
DEBUG=False

ALLOWED_HOSTS=chinacalc.online
CSRF_TRUSTED_ORIGINS=https://chinacalc.online

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

LANGUAGE_CODE=ru
TIME_ZONE=Europe/Minsk

PG_HOST=postgresql_db
PG_PORT=5432
PG_NAME=china_calc
PG_USER=china_calc_user
PG_PASS=replace_with_strong_database_password